# Visual Studio Code
.vscode

# ROS2 basic directories
/build
/install
/log

# Hard Links
/docker/modules

# Docker environment variables
/docker/.env

# ROS2 bag files
V1_02_medium.bag
V1_02_medium/
