# Visual Studio Code
.vscode

# ROS2 basic directories
/build
/install
/log

# Hard Links
/docker/modules

# Docker environment variables
/docker/.env

# Custom ignores
/isaacsim/assets
/src/interbotix_ros_manipulators/interbotix_ros_xsarms/interbotix_xsarm_descriptions/urdf/*.urdf
