mkdocs-material
# For social cards
# Ref: https://squidfunk.github.io/mkdocs-material/setup/setting-up-social-cards
pillow
cairosvg
# For document revision dates
# Ref: https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#document-dates
mkdocs-git-revision-date-localized-plugin
# For fixing nested list
# Ref: https://github.com/mkdocs/mkdocs/issues/545#issuecomment-522196661
mdx_truly_sane_lists
# For python macros support
mkdocs-macros-plugin
# For showing contributors
# Ref: https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#document-contributors
mkdocs-git-committers-plugin-2
# For placing `mkdocs.yml` in the same directory as documentation
# Ref: https://github.com/oprypin/mkdocs-same-dir
mkdocs-same-dir
